<h1>Edit Recurring Report</h1>

<%= render :partial => 'form' %>

<div class="align_cancel">
  <%= link_to "Cancel", survey_survey_version_report_recurring_reports_path(@survey, @survey_version, @report), :class=>"cancelLink" %>
</div>
