<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your Password has been reset.</h1>
    <p>
    	Your new password is: <%= @password %>
    </p>
    <p>
      To login to the site, <a href='<%= login_url %>' title="Link to HHS VOC Tool">Click Here</a>
    </p>
  </body>
</html>