<% title "Text Question" %>

<p>
  <strong>Answer Type:</strong>
  <%= @text_question.answer_type %>
</p>

<p>
  <%= link_to "Edit", edit_text_question_path(@text_question) %> |
  <%= link_to "Destroy", @text_question, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", text_questions_path %>
</p>
