/**** 4/19/2011 - Copied from Patient Care app.css file. ****/
/***id's not referenced in innovations or here: skipNavRight, rightNav***/
/*
	Images required by the following styles:
	- chevronUtility.jpg
	- headerBack.jpg
	- hhsLogo.jpg
	- hhsMastHead.jpg
	- utilityBack.jpg
*/
#skipNav2, #skipNav{
  display:none
}

#intranetHeader {
  font-family: georgia,times;
  width: 100%;
  min-width: 740px;
  height: 61px;
}

#hhsLogo {
  float: left;
  width: 54px;
}

#hhsMastHead {
  margin: 0px;
  padding: 0px;
  background: url(../images/headerBack.jpg);
  /* Fixes HHS logo bar height at top of page. */
	height: 61px;
}

#utilityNavigation{
  position:absolute;
  right:0px;
  top:28px;
  *top: 10px;
  height:21px;
  background:url(../images/utilityBack.jpg);
  padding-right:10px;
  min-width:24em
}

.floatLeft {
  float: left;
  position: relative;
}

#utilText{
  font:0.7em georgia,times;
  margin-top:0.3em
}

.footer { 
/* whole style updated 5/13/2011 */
  margin: 5px 0px;
  padding: 0px;
  width: 100%;
}

.intranetLastUpdated {
  color: #808080;
  font-size: 0.6em;
  margin: 0px 0px 0px 20px;
  /* styles added & changed because IE8 not showing footer correctly */
  text-align: left;
}

.intranetFooter{ /* margin & padding edited 4/19/11 */
  border-top: 1px solid Silver;
  font: 0.7em trebuchet ms,helvetica;
  margin: 5px 0px 0px;
  padding: 5px 0px 0px;
  text-align: center;
  color: #FF0000;
}

/****  Our CSS  3/9/2011 ****/
body{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

img{
  border: none 0px;
}

/* td {
	font-size: 13px;
	padding: 5px 10px 5px 0px;
} */