<% title "Matrix Question" %>

<p>
  <strong>Name:</strong>
  <%= @matrix_question.name %>
</p>

<p>
  <%= link_to "Edit", edit_matrix_question_path(@matrix_question) %> |
  <%= link_to "Destroy", @matrix_question, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", matrix_questions_path %>
</p>
