$("#modalDiv").html("<%= escape_javascript( render( partial: 'modal_form' ) )%>");
$("#modalDiv").prepend( "<h2>Edit User</h2>");
$(".submitButton").prepend( "<a href='#' class='simplemodal-close cancelLink-inline'>Cancel</a>");
$("#modalDiv").modal({
  escClose: true,
  modal: true,
  autoResize: true,
  onClose: function() {
    $.modal.close();
    $("#modalDiv").html("");
  }
});

$(".simplemodal-container").css("height", $("#modalDiv").height()).css("width", $("#modalDiv").width());
$.modal.setPosition();
