	$("#modalDiv").html("<%= escape_javascript( render( partial: 'form' ) )%>");
$("#modalDiv").prepend( "<h2>Add A New User</h2>");
$(".submitButton").prepend( "<a href='#' class='simplemodal-close cancelLink-inline'>Cancel</a>");
$("#modalDiv").modal({
	escClose: true,
	modal: true,
	onClose: function() {
		$.modal.close();
		$("#modalDiv").html("");
	}
});