<p>
   <%= f.collection_select :source_select, @source_array, :first, :last, {:selected => "#{f.object.source_id},#{f.object.source_type}"} %>
   <%= f.collection_select :conditional_id, Conditional.all, :id, :name%>
    
   <%= f.text_field :value%>
 </p>