<div class="modalErrorBox">
  <p class="title"><%= pluralize(object.errors.count, "error") %> prohibited this <%= object_type %> from being saved:</p>

  <ul class="list">
    <% object.errors.full_messages.each do |msg| %>
      <li class="list"><%= msg %></li>
    <% end %>
  </ul>
</div>
