<p class="matrix_answer_fields"> 
      <%= label_tag "choice_answer_attributes[#{i}][answer]", "Answer" %>
      <%= text_field_tag "choice_answer_attributes[#{i}][answer]" %>
			<%= link_to_function("Remove", "remove_matrix_answer(this)") %>
			
			<br/>
			
</p>