<div id="new_choice_question_modal" class="displayNone">
  <%= render :partial => "choice_questions/new_choice_question", :locals => {:survey => survey_version.survey, :survey_version => survey_version} %>
</div>

<div id="new_text_question_modal" class="displayNone">
  <%= render :partial => 'text_questions/new_text_question', :locals => {:survey => survey_version.survey, :survey_version => survey_version} %>
</div>

<div id="new_asset_modal" class="displayNone">
  <%= render :partial => 'assets/new_asset_fields', :locals => {:survey => survey_version.survey, :survey_version => survey_version} %>
</div>

<div id="new_matrix_question_modal" class="displayNone">
  <%= render :partial => 'matrix_questions/new_matrix_question', :locals => {:survey => survey_version.survey, :survey_version => survey_version } %>
</div>

<div id="edit_modal" class="displayNone"></div>