<h1>New Custom View</h1>

<%= render :partial => 'form' %>

<div class="align_cancel">
	<%= link_to "Cancel", survey_responses_path(:survey_id => @survey.id, :survey_version_id => @survey_version.id), :class=>"cancelLink" %>
</div>
