<p class="pageTitle">New Custom View</p>

<%= render :partial => 'form' %>

<div class="pageNav">
	<%= link_to "Cancel", survey_responses_path(:survey_id => @survey.id, :survey_version_id => @survey_version.id), :class=>"pageNav"%>
</div>
