development:
  user_name: 'email@ctacorp.com'
  password: 'akamaipassword'
  base_uri: 'https://api.ccu.akamai.com/ccu/v2/queues/default'
  domain: 'staging'

test:
  #host: localhost:3000
  user_name: 'email@ctacorp.com'
  password: 'akamaipassword'
  base_uri: 'https://api.ccu.akamai.com/ccu/v2/queues/default'
  domain: 'staging'

production:
  user_name: 'email@ctacorp.com'
  password: 'akamaipassword'
  base_uri: 'https://api.ccu.akamai.com/ccu/v2/queues/default'
  domain: 'production'






