# format of the file is as follows:

# environment:
#   public_host: this is the hostname and/or port of the PUBLIC application
#   admin_host: this is the hostname and/or port of the ADMIN application
#   relative_url: 

development:
  public_host: localhost:3000
  admin_host: localhost:3001
  redis: localhost:6379
  redis-expire: 86400
  elastic-search-hosts: localhost:9200
#  branding:		# optional block, defaults shown
#    css-filename: application        # (minus the .css extension)
#    header-layout: voc_header
#    footer-layout: voc_footer

test:
  public_host: localhost:3000
  admin_host: localhost:3001
  redis: localhost:6379
  redis-expire: 86400
  elastic-search-hosts: localhost:9200

production:
  public_host: your_public_server.domain.local
  admin_host: your_admin_server.domain.local
  redis: localhost:6379
  redis-expire: 86400
  elastic-search-hosts: localhost:9200

