# Example mailer_settings.yml layout
#
# development:
#   smtp_settings:
#     :address: 'smtp.example.com'
#     :port: 27
#     :domain: 'example.com'
#     :user_name: 'smtp_user_name'
#     :password: 'super_secure_password'
#     :authentication: 'login'