<p class="pageTitle">New Display Field</p>

<% javascript 'display_field.js' %>

<%= form_for [@survey, @survey_version, @display_field] do |f| %>
  <%= render :partial => 'form', :locals => {:f => f, :disabled => false} %>
<% end %>

<div class="pageNav">
	<%= link_to "Cancel", survey_survey_version_display_fields_path(@survey, @survey_version), :class=>"pageNav" %>
</div>
