<h1>New Display Field</h1>

<% javascript 'display_field.js' %>

<%= form_for [@survey, @survey_version, @display_field] do |f| %>
  <%= render :partial => 'form', :locals => {:f => f, :disabled => false} %>
<% end %>

<div class="align_cancel">
	<%= link_to "Cancel", survey_survey_version_display_fields_path(@survey, @survey_version), :class=>"cancelLink" %>
</div>
