<div class="page-nav">
  <%= link_to image_tag("edit.png", :alt=>"edit") + " Edit", 
    edit_survey_survey_version_dashboard_path(@survey, @survey_version, @dashboard),
    :class => "manage"
  %>
  <%= link_to "PDF for Dashboard",
    survey_survey_version_pdf_dashboard_path(@survey, @survey_version, @dashboard, :format => :pdf),
    :class => "manage"
  %>
  <%= link_to "Return to Reporting",
    reporting_survey_survey_version_path(@survey, @survey_version),
    :class => "manage"
  %>
</div>
