<p class="pageTitle">View Category</p>
<%= flash_messages(flash) %>

<p class="copy">
  <span class="copyBold">Name:</span>
  <%= @category.name %>
</p>

<div class="pageNav">
  <%= link_to "Edit", edit_category_path(@category), :class => "pageNav" %> |
  <%= link_to "View All", categories_path, :class => "pageNav" %>
</div>
