<% javascript 'rules.js' %>

<h1>New Rule</h1>

<%= render 'form' %>

<div class="align_cancel">
	<%= link_to "Cancel", survey_survey_version_rules_path(@survey, @survey_version), :class=>"cancelLink" %>
</div>
