<form accept-charset="UTF-8" action="/user_sessions/do_pw_reset" method="post">
	<p>Please enter the email address you wish to reset the password for.</p>
	<p>After clicking submit, an email will be sent to the specified address.</p>
	<p><label for="email_address">Email Address: </label><input name="email_address" /></p>
	<p><input type="submit" /> <a href="/login" title="Cancel password reset and return to login page." class="pageNav">Cancel</a></p>
</form>