<div class="reset_box">
<form accept-charset="UTF-8" action="/user_sessions/do_pw_reset" method="post">
	<p>Please enter the email address you wish to reset the password for.</p>
	<p>After clicking submit, an email will be sent to the specified address.</p>
	<div id="surveys">
		<div class="left_side">
			<label for="email_address">Email Address: </label>
		</div>
		<div class="right_side">
			<input name="email_address" type="text" />
		</div>
	</div>
	<div class="pageLink">
		<a href="/login" title="Cancel password reset and return to login page." class="cancelLink">Cancel</a>
		<%= image_submit_tag "Submit.png", :alt=>"Submit" %>
	</div>
</form>
</div>
