<h1>Display Image</h1>

<div id="surveys">
	<div class="left_side">
		Image:
	</div>
	<div class="right_side">
		<p class="blue"><%= @file %></p>
	</div>
</div>
<div id="survey_info">
	<div class="top_side">
		Instructions:
	</div>
	<div class="bottom_side">
		
		<p>Place the following into a snippet to display the image in a survey: <%= "<img src='#{root_path}images/hhs_image_lib/#{@file}' />" %> 
		
	</div>
</div>

<div id="displayImage">
	<%= image_tag "/images/hhs_image_lib/#{@file}", :alt=>"#{@file}" %>
</div>

<div class="page-nav">
	<%= link_to "View All Images", images_path, :class=>"cancelLink" %>
</div>

