<p class="pageTitle"><%= @file %></p>

<div>
<p>Place the following into a snippet to display image in survey:</p>
<p><%= "<img src='/images/#{@file}' />" %><%#= "#{image_tag(@file)}" %></p>
</div>

<div id="displayImage">
	<%= image_tag @file %>
</div>

<div class="pageNav">
	<%= link_to "Back", images_path, :class=>"pageNav" %>
</div>

