<h2>Images</h2>


<div class="page_nav">
  <%= link_to 'Add New Image', new_image_path, :class => "surveyNav" %>
</div>


<table id='images_index_table'>
  <tr>
    <th>Image Files</th>
    <th class="actionCol">Actions</th>
  </tr>
  <% @files.each do |f| %>
    <tr class="<%= cycle('blue', 'white') %>">
      <td class='descCol'><%= link_to f, display_images_path(:file=>f)%></td>
      <td class='actionCol'><%= link_to image_tag('red_x.png'), remove_images_path(:file=>f), :confirm => "Are you sure?", :method => 'delete' -%></td>
    </tr>
  <% end %>
</table>
