
<div class="footer">		
	<div class="intranetLastUpdated">
		Last Updated: <%= "#{Date.today.month}/#{Date.today.day}/#{Date.today.year}" %>
	</div>
	<div class="intranetFooter">
		<a href="http://intranet.hhs.gov/">HHS Intranet Home</a> | 
		<a href="http://www.hhs.gov">HHS.gov</a> | 
		<a href="http://intranet.hhs.gov/a2zSiteIndex.html">A-Z Site Index</a> | 
		<a href="http://www.hhs.gov/Accessibility.html">Accessibility</a> | 
		<a href="http://www.hhs.gov/Privacy.html">Privacy Policy</a> | 
		<a href="http://www.hhs.gov/foia/">Freedom of Information Act</a> | 
		<a href="http://www.hhs.gov/Disclaimer.html">Disclaimers</a>
	</div>
</div>