<!-- Copied header and footer 3/9/2011,  -->
<div id="skipNav">
	<a href="#skip">Skip Navigation to go to Content</a> 
	<a href="#rightNav">Skip to Right Side Navigation</a>
</div>
<div id="intranetHeader">
	<div id="hhsLogo">
		<img src="/images/hhsLogo.jpg" alt="HHS Logo image"/>
	</div>
	<div id="hhsMastHead">
		<a href="http://intranet.hhs.gov/">
			<img src="/images/hhsMastHead.jpg" alt="HHS at Work, Helping Those That Help America"/>
		</a>
	</div>
	<div id="skipNavRight">
		<a name="rightNav">&nbsp;</a>
	</div>
	<div id="utilityNavigation">
		<img src="/images/chevronUtility.jpg" alt="arrow image" width="38px" height="21px" class="floatLeft"/>
		<div id="utilText">
			<a href="http://intranet.hhs.gov">HHS Intranet Home</a> | 
			<a href="http://www.hhs.gov">HHS.gov</a> | 
			<a href="mailto:webrequests@hhs.gov">Comments</a> | 
			<a href="http://intranet.hhs.gov/a2zSiteIndex.html">A-Z Site Index</a>
		</div>
	</div>
</div>
<div id="skipNav2">
	<a name="skip">&nbsp;</a>
</div>
	