<a id="skipNav" href="#skip">Skip Navigation to go to Content</a>

<div id="header">
  <%= image_tag "voc_large_logo.png", :class=>"large_logo", :alt=>"General Services Administration" %>
  <% if !current_user.blank? %>
    <div class="user_details">
      <p class="user"><%= current_user.email %></p>
      <%= image_tag "half_separator.png", :class=>"separator", :alt=>"separator" %>
      <%= logout_link title: "Logout", classes: "logout" %>
    </div>
  <% end %>
</div>
