<div id="footer">
	<%= image_tag "voc_small_logo.png", :class=>"small_logo", :alt=>"Voice of the Consumer, Department of Health and Human Services Logo" %>
	<%= image_tag "separator.png", :class=>"separator", :alt=>"separator" %>
	<p class="footer_text">A federal government website managed by the U.S. Department of Health &amp; Human Services.<br />200 Independence Avenue, S.W. - Washington, D.C. 20201</p>
</div>
