<div id="footer">
  <%= image_tag "voc_small_logo.png", :class=>"small_logo", :alt=>"General Services Administration Logo" %>
  <%= image_tag "separator.png", :class=>"separator", :alt=>"separator" %>
  <p class="footer_text">A federal government website managed by the General Service Administration.<br />1800 F Street, NW Washington, DC 20405</p>
</div>
